services:
  swguilds:
    image: ghcr.io/mrddream/swguilds:latest
    container_name: SWGuilds
    ports:
      - "${EXTERNAL_PORT:-3020}:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=file:/app/prisma/dev.db
      - NODE_ENV=production
      - NEXTAUTH_URL=http://localhost:${EXTERNAL_PORT:-3020}
    volumes:
      - prisma_data:/app/prisma
      - data_public:/app/public
    restart: unless-stopped

volumes:
  prisma_data:
  data_public:

